APP_NAME=next_learn
APP_EMAIL="${APP_NAME}@${APP_DOMAIN}"

APP_DOMAIN=
WWW_DOMAIN="www.${APP_DOMAIN}"
DASHBOARD_DOMAIN="dashboard.${APP_DOMAIN}"
TRAEFIK_DOMAIN="traefik.${APP_DOMAIN}"

# Set the log level (DEBUG, INFO, WARN, ERROR)
TRAEFIK_LOG_LEVEL=DEBUG
# Basic Authentication for Traefik Dashboard
# Passwords must be encoded using MD5, SHA1, or BCrypt https://hostingcanada.org/htpasswd-generator/
TRAEFIK_BASIC_AUTH=

NODE_IMAGE=node:22

DB_IMAGE=mongo:6.0
DB_PORT=27017
DB_NAME=
DB_USER=
DB_PASS=
DB_URL="mongodb://${DB_USER}:${DB_PASS}@db:${DB_PORT}/${DB_NAME}?authSource=admin"
